@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --cor-primeira: #37312E;
    --cor-segunda: #BD4D10;
    --cor-terceira: #EA9C29;
    --cor--quarta: #F7882D;
    --cor-quinta: #f7dcb7;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-primeira);
}

#item, #partners, #company, #footer{
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(50px);
}

#text, #title{ 
    opacity: 0;
    transition: opacity 1s ease, transform 1.5s ease;
    transform: translateX(100px);
}

#text.ativa,
#title.ativa{
    transform: translateX(0);
    opacity: 1;
}

#item.ativa,
#partners.ativa,
#footer.ativa,
#company.ativa{
    transform: translateY(0);
    opacity: 1;
}

.header{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 9;
    gap: 20em;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.header-scroll{
    top: 0px;
    background-color: #231f207d;
    backdrop-filter: blur(5px);
    transition: 0.5s;
}

.logo-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100%;
    max-width: 300px;
}

.logo-content{
    overflow-y: hidden;
}

.img-3lines{
    width: 2.1em;
}

.menu-button{
    display: none;
    height: 2.5em;
    font-size: 1.5rem;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 0;
}

.header-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5em 3.5em 0.5em 0.5em;
    width: 76%;
    gap: 2em;
}

.header-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.3s;
    color: #fff;
}

.header-link:hover{
    color: var(--cor--quarta);
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--cor--quarta);
    transition: width 0.2s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-50%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.main-page{
    margin-bottom: 0%;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url(/assets/banner-about.png);
    background-position: bottom;
    background-size: cover;
    border-bottom: 1em solid var(--cor--quarta);
    border-bottom-left-radius: 12em;
    height: 30em;
}

.container-main h2{
    font-family: 'Montserrat', sans-serif;
    padding: 0em 0em 0em 2em;
    font-size: 4rem;
    font-weight: 300;
    width: 20em;
    color: #fff; 
}

.strong-main{
    display: inline-block;
    background-image: linear-gradient(to left, #f89b4e, #d86608, #f7882d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-weight: 600;
    box-shadow: 0px 6px 0px 0px #f7882d;
}

.strong-integra{
    background-image: linear-gradient(to left, #f89b4e, #d86608, #f7882d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-weight: 600;
}   

.mid-page{
    background-position: center;
    background-size: cover;
    background-image: url(/assets/background-services.svg);
}

.container-about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 4%;
    padding: 4em 0em 0em 8em;
    gap: 2em;
}

.container-about h2{
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    box-shadow: 0px 4px 0px 0px #f7882d;
}

.container-about p{
    color: #fff;
    width: 45%;
    font-size: 1.4rem;
}

.container-valores{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.container-valores span{
    font-size: 2rem;
    box-shadow: 0px 2px 0px 0px #f7882d;
}

.valores{
    display: flex;
    margin-right: 5%;
}

.valores img{
    width: 5%;
    height: 5%;
}

#proposito{
    margin-right: 2%;
}

#missao{
    margin-left: 5%;
    margin-right: 2%;
}

.bottom-page{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.frase{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.192), rgba(10, 2, 2, 0.301));     
    margin: 5% 0% 5% 0%;
    height: 17em;
}

.frase h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    box-shadow: 0px 6px 0px 0px #f7882d;
}

.pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pictures img{
    margin: 0.5%;
    width: 25%;
    height: 25%;
}

.description p{
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
    text-align: justify;
}

.container-team{
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 5% 7%;
}

.container-team h2{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    box-shadow: 0px 6px 0px 0px #f7882d;
    font-size: 3rem;
}

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 2em;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 18em;
    height: 28em;
    padding: 1em;
    gap: 1em;
    transition: 0.5s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.034)); 
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.37);
    border: 0.1em solid rgba(255, 255, 255, 0.18);
    color: #fff;
}

.item:hover{
    transform: scale(1.02);
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.37);
}

.item span{
    font-size: 1.2rem;
}

.item img{
    width: 100%;
    border-radius: 100%;
}   

.item strong{
    color: #f7882d;
}

.ceo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.1em solid #f7882d;
    width: 16em;
    height: 16em;
    border-radius: 100em;
}

#ceo{
    width: 100%;
    height: auto;
    margin-top: 15%;
}

#pleno{
    border: 0.1em solid #f7882d;
}

#social{
    border: 0.1em solid #f7882d;
}

.btn-team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    opacity: 0;
    border-radius: 100%;
    transition: 0.5s;
}

.item:hover .btn-team{
    width: 4em;
    opacity: 1;
}

.btn-team img{
    width: 100%;
    transition: 0.5s;
    height: auto;
}

.btn-team img:hover{
    background-color: #0e76a8 ;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    color: #fff;
    background: linear-gradient(to bottom, #2E2926, #1B1817);
    padding: 1em;
    gap: 3em;
}

.footer h2{
    color: var(--cor-terceira);
}

.logo-footer{
    width: 100%;
    transition: 0.5s;
}

.logo-footer:hover{
    scale: 1.04;
}

.integra{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
    font-size: 1.2em;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 35em;
    gap: 0.5em;
}

.menu3{
    display: flex;
    flex-direction: column;
    width: 40em;
    gap: 0.3em;
}

.call-you{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor-texto-preto);
    background-color: #fcd800;
    border-radius: 0.5em;
    margin-bottom: 2em;
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.1em;
    width: 10em;
    gap: 0.5em;
    transition: 0.5s;
}

.call-you:hover{
    background-color: #ebc900;
}

.social-medias{
    display: flex;
    align-items: center;
    width: 20em;
    height: 5em;
    gap: 1em;
}

.social-image{
    width: 2.5em;
    margin: 1em 1em 1em 0.2em;
    transition: 0.5s;
}

.social-image:hover{
    scale: 1.1;
    filter: brightness(90%);
}

.menu-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.5s;
}

.menu-link:hover{
    color: var(--cor-terceira);
}

.div-menu{
    border-right: 1px solid #ffffff5e;
    height: 10em;
}

.btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89%;
    left: 95.2%;
    width: 3.5em;
    height: 3.5em;
    border: 1px solid #fff;
    border-radius: 1em;
    transition: 0.5s;
    background-color: #fff;
}

.btn-home:hover{
    background-color: var(--cor--quarta);
    scale: 1.1;
    /* box-shadow: 0.1em 0.1em 0.1em 0.1em ; */
    box-shadow: inset 1em 0.5em var(--cor--quarta);
}

.img-seta {
    width: 2em;
}

.baseboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 0.2em;
    padding: 1em;
    background-color: var(--cor--quarta);
}

.baseboard-link{
    text-decoration: none;
    color: #000;
}

@media (max-width: 700px){

    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #231f207d;
        backdrop-filter: blur(5px);
        gap: 0;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        padding: 0;
        margin-top: 1em;
        gap: 1em;
    }
      
    .header-menu.active{
        display: flex;
    }
      
    .menu-button{
        display: flex;
        align-items: center;
        transition: 0.5s;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .logo{
        width: 80%;
        margin-left: 1em;
    }

    .img-3lines{
        height: 1.5em;
    }

    .container-main{
        border-bottom: 0.5em solid var(--cor--quarta);
        border-bottom-left-radius: 30%;
        padding: 5%;
        gap: 3%;
        height: 30em;
    }

    .container-main h2{
        width: 6em;
        font-size: 3rem;
        padding: 0;
    }

    .strong-main{
        box-shadow: 0px 0px;
    }

    .container-about{
        padding: 20% 5% 5% 5%;
    }

    .container-about h2{
        text-align: center;
    }

    .container-about p{
        width: 100%;
        text-align: start;
    }

    .valores{
        flex-direction: column;
    }

    .valores p{
        margin: 5%;
    }

    #proposito{
        display: none;
    }

    #missao{
        display: none;
    }

    .frase{
        height: 20em;
    }

    .frase h1{
        font-size: 2.1rem;
        box-shadow: 0px 0px;
        text-align: center;
    }

    .pictures{
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        margin-bottom: 30%;
    }

    .pictures img{
        width: 80%;
    }

    .container-team{
        text-align: center;
    }

    .container-team h2{
        font-size: 4rem;
    }

    .btn-team{
        opacity: 1;
        width: 4em;
    }
    
    .div-menu{
        border-right: none;
        border-bottom: 1px solid;
        height: 0;
    }

    .footer{
        flex-direction: column;
        align-items: normal;
        height: 60em;
    }

    .footer h2{
        overflow: hidden;
    }

    .integra{
        margin: 0;
    }

    .logo-footer{
        margin-top: 10%;
    }

    #logo-integra{
        overflow: hidden;
    }

    .menu{
        text-align: center;
        width: 100%;
    }

    .menu-link{
        overflow: hidden;
    }

    .menu3{
        text-align: center;
        width: 100%;
    }

    .menu3 p{
        overflow: hidden;
    }

    .social-medias{
        justify-content: center;
        gap: 13%;
        width: 100%;
    }

    .btn-social{
        display: flex;
        justify-content: center;
    }

    .social-image{
        margin: 0;
    }

    .btn-home{
        left: 80%;
    }

    .baseboard{
        font-size: 1.1rem;
    }
}