@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --cor-primeira: #37312E;
    --cor-segunda: #BD4D10;
    --cor-terceira: #EA9C29;
    --cor--quarta: #F7882D;
    --cor-quinta: #f7dcb7;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-primeira);
}

#item, #partners, #company, #footer{
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(50px);
}

#text, #title{ 
    opacity: 0;
    transition: opacity 1s ease, transform 1.5s ease;
    transform: translateX(100px);
}

#text.ativa,
#title.ativa{
    transform: translateX(0);
    opacity: 1;
}

#item.ativa,
#partners.ativa,
#footer.ativa,
#company.ativa{
    transform: translateY(0);
    opacity: 1;
}

.header{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 9;
    gap: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
}

.header-scroll{
    top: 0px;
    background-color: #231f207d;
    backdrop-filter: blur(5px);
    transition: 0.5s;
}

.logo-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100%;
    max-width: 300px;
}

.logo-content{
    overflow-y: hidden;
}

.img-3lines{
    width: 2.1em;
}

.icon-menu {
    --gap: 5px;
    --height-bar: 4px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 25px;
    display: none;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: #fff;
  }
  
  .bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
  }
  
  .bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--1 {
    transition: top 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--3 {
    transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
  }

.header-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 2em;
}

.header-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.3s;
    color: #fff;
}

.header-link:hover{
    color: var(--cor--quarta);
}

.header-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--cor--quarta);
    transition: width 0.2s ease-in-out, transform 0.4s ease-in-out;
    transform: translateX(-50%);
}

.header-link:hover::after{
    width: 100%;
    transform: translateX(0%);
}

.main-page{
    margin-bottom: 0%;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url(/assets/banner.png);
    background-size: cover;
    border-bottom: 1em solid var(--cor--quarta);
    border-bottom-left-radius: 12em;
    height: 30em;
}

.container-main h2{
    font-family: 'Montserrat', sans-serif;
    padding: 0em 0em 0em 2em;
    font-size: 4rem;
    font-weight: 300;
    width: 20em;
    color: #fff; 
}

.strong-main{
    display: inline-block;
    background-image: linear-gradient(to left, #f89b4e, #d86608, #f7882d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 4px 0px 0px #f7882d;
}

.strong-integra{
    background-image: linear-gradient(to left, #f89b4e, #d86608, #f7882d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-weight: 600;
}   

.service-page{
    background-position: center;
    background-size: cover;
    background-image: url(/assets/background-services.svg);
}

.title-services{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 3rem;
}

.container-solutions{
    display: flex;
    flex-direction: column;
    margin: 8% 2% 5% 2%;
    gap: 1em;
}

.solutions{
    display: flex;
    align-items: center;
    background-color: #1B1817;
    border-left: 10px solid #24201f;
    border-bottom: 10px solid #24201f;
    border-radius: 10px;
    padding: 3%;
    gap: 2em;
}

.solutions p,
.solutions h2,
.solutions span{
    color: #fff;
    margin: 1% 0% 2% 0%;
}

.solutions h2{
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 5%;
    box-shadow: 0px 1px 0px 0px #f7882d;
}

.solutions span{
    font-size: 1.7rem;
    text-align: start;
}

.solutions p{
    font-size: 1.3rem;
    text-align: start;
}

.solutions img{
    border: 2px solid #f7882d;
    border-radius: 2%;
    width: 26%;
    height: auto;
    transition: 0.5s;
}

.solutions img:hover{
    background-color: #f7882d9a;
}

.container-text{
    display: flex;
    flex-direction: column;
}

.solutions-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    color: #fff;
    background: linear-gradient(to bottom, #2E2926, #1B1817);
    padding: 1em;
    gap: 3em;
}

.footer h2{
    color: var(--cor-terceira);
}

.logo-footer{
    width: 100%;
    transition: 0.5s;
}

.logo-footer:hover{
    scale: 1.04;
}

.integra{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
    font-size: 1.2em;
}

.integra p{
    font-weight: 300;
    margin-bottom: 20%;
}

.integra span{
    border-top: 1px solid #fff;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 35em;
    gap: 0.5em;
}

.menu3{
    display: flex;
    flex-direction: column;
    width: 40em;
    gap: 0.3em;
}

.call-you{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor-texto-preto);
    background-color: #fcd800;
    border-radius: 0.5em;
    margin-bottom: 2em;
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.1em;
    width: 10em;
    gap: 0.5em;
    transition: 0.5s;
}

.call-you:hover{
    background-color: #ebc900;
}

.social-medias{
    display: flex;
    align-items: center;
    width: 20em;
    height: 5em;
    gap: 1em;
}

.social-image{
    width: 2.5em;
    margin: 1em 1em 1em 0.2em;
    transition: 0.5s;
}

.social-image:hover{
    scale: 1.1;
    filter: brightness(90%);
}

.menu-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.5s;
}

.menu-link:hover{
    color: var(--cor-terceira);
}

.div-menu{
    border-right: 1px solid #ffffff5e;
    height: 10em;
}

.btn-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 89%;
    left: 95.2%;
    width: 3.5em;
    height: 3.5em;
    border: 1px solid #fff;
    border-radius: 1em;
    transition: 0.5s;
    background-color: #fff;
}

.btn-home:hover{
    background-color: var(--cor--quarta);
    scale: 1.1;
    /* box-shadow: 0.1em 0.1em 0.1em 0.1em ; */
    box-shadow: inset 1em 0.5em var(--cor--quarta);
}

.img-seta {
    width: 2em;
}

.baseboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 0.2em;
    padding: 1em;
    background-color: var(--cor--quarta);
}

.baseboard-link{
    text-decoration: none;
    color: #000;
}

@media (max-width: 1024px){

    .header{
        flex-direction: column;
        background-color: #231f207d;
        backdrop-filter: blur(5px);
        padding: 3%;
    }

    .header-menu{
        display: none;
        flex-direction: column;
        padding: 0;
        margin-top: 1em;
        gap: 1em;
    }
      
    .header-menu.active{
        display: flex;
    }
      
    .menu-button{
        display: flex;
        align-items: center;
    }

    .header-link{
        font-size: 1.5rem;
    }

    .icon-menu{
        display: flex;
    }

    .logo{
        width: 80%;
    }

    .img-3lines{
        height: 1.5em;
    }
    
    .services{
        flex-wrap: wrap;
        height: auto;
    }

    .solutions{
        flex-direction: column;
    }

    .solutions img{
        width: 80%;
    }

    .footer{
        gap: 1em;
    }

    .footer h2{
        font-size: 1rem;
    }

    .integra{
        margin: 0;
    }

    .menu{
        width: 100%;
    }

    .menu-link{
        font-size: 1rem;
    }

    .menu3 a{
        font-size: 0.8rem;
    }

    .social-image{
        width: 2.6em;
        margin: 0;
    }

    .btn-home{
        left: 90%;
    }
}

@media (max-width: 700px){
    
    .container-main{
        border-bottom: 0.5em solid var(--cor--quarta);
        border-bottom-left-radius: 30%;
        padding: 5% 5% 5% 5%;
        gap: 3%;
        height: 30em;
    }

    .container-main h2{
        width: 11.5em;
        font-size: 2rem;
        padding: 0;
    }

    .title-services{
        margin-right: 5%;
        font-size: 2.4rem;
    }

    .container-solutions{
        margin-bottom: 20%;
    }

    .solutions{
        padding: 10% 5% 5% 5%;
    }

    .solutions img{
        width: 80%;
    }

    .solutions h2{
        font-size: 2rem;
        margin-bottom: 13%;
        box-shadow: 0px 1px 0px 0px #f7882d;
        padding: 0;
    }

    .solutions p{
        font-size: 1rem;
    }

    .division{
        flex-direction: column-reverse;
        margin-top: 5em;
        height: 13em;
    }

    .division h2{
        font-size: 1.4rem;
    }

    .logo-div{
        width: 40%;
        height: 6em;
    }

    .bottom-page h2{
        font-size: 3rem;
    }

    .div-menu{
        border-right: none;
        border-bottom: 1px solid;
        height: 0;
    }

    .footer{
        flex-direction: column;
        align-items: normal;
    }

    .footer h2{
        overflow: hidden;
    }

    .integra{
        margin: 0;
    }

    .integra a{
        overflow: hidden;
    }

    .logo-footer{
        margin-top: 10%;
    }

    #logo-integra{
        overflow: hidden;
    }

    .menu{
        text-align: center;
        margin-bottom: 5%;
        width: 100%;
    }

    .menu br{
        display: none;
    }

    .menu h2{
        margin-bottom: 5%;
        font-size: 1.5rem;
    }

    .menu-link{
        overflow: hidden;
    }

    .menu3{
        text-align: center;
        width: 100%;
    }

    .menu3 h2{
        font-size: 1.5rem;
    }

    .menu3 p{
        overflow: hidden;
    }

    .menu3 a{
        font-size: 1rem;
    }

    .social-medias{
        justify-content: center;
        gap: 13%;
        width: 100%;
    }

    .btn-social{
        display: flex;
        justify-content: center;
    }

    .social-image{
        width: 3em;
        margin: 0;
    }

    .btn-home{
        top: 86%;
        left: 80%;
    }

    .baseboard{
        font-size: 1.1rem;
    }
}
